body {
    background-color: gray;
    color: white;
  }

#pnote {
font-style: italic;
font-size: small;
font-family: 'Times New Roman', Times, serif;
}

#pname{
  font-size: large;
  font-family: 'Times New Roman', Times, serif;
  }

ol,ul {
  font-size: 19px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

strong {
  color: yellow;
}

a{
  color: red;
}

h1,h2,h3 {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: bold;
  color: cornflowerblue;
  }

