body {
    background-color: gray;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
  }

#pnote {
font-style: italic;
font-size: medium;
}

#pname{
      font-size: 20px;
    }

ul {
  font-size: 15px;
 }

ol {
  font-size: 14px;
 }

strong {
  color: yellow;
}

a{
  color: red;
}

h1,
h2,
h3 {
  font-weight: bold;
  color: aqua;
  }

